body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(rgb(90,5,90), black, rgb(27,27,107)) ;
    margin: 0;
    padding: 0;
    margin-top: 5%;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.profile-header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #251d1d, rgb(152, 2, 2));
    color: white;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    transition: transform 0.3s;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.username {
    margin: 15px 0 5px;
    font-size: 2em;
}

.bio {
    font-size: 1.2em;
    margin: 10px 0;
}

.logout {
    background: #ffffff;
    color: #ff7e5f;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    position: absolute;
    left: 69%;
}

.logout:hover {
    background: #f1f1f1;
    color: white;
    transform: translateY(-2px);
}

.music-section {
    padding: 20px;
}

.track-list {
    display: flex;
    justify-content: space-around;
}

.track-card {
    background: #f7f7f7;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.track-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}